/* Specifieke CSS voor de adminpagina */
#admin-panel {
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#admin-panel select,
#admin-panel button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#admin-panel button {
    background-color: #2196F3;
    color: white;
    cursor: pointer;
}

#admin-panel button:hover {
    background-color: #0b7dda;
}
